.badges__wrapper {
  display: flex;
  flex-flow: row wrap;
  counter-reset: achieve-counter;
  width: 800px;
  margin: auto auto 3em;
  justify-content: space-around;
  box-shadow: 0px 21px 40px 0px rgba(0, 0, 0, 0.19);
  padding-top: 2em;
}

.badge {
  width: 100px;
  height: 100px;
  margin: 0 50px 5em;
  position: relative;
  transform: translateZ(0);
}

.badge__img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  color: #81A5B9;
  background-color: #F4F8FA;
  border-radius: 50%;
  box-sizing: border-box;
  border: 5px solid;
}

.badge__img {
  max-height: 60%;
  max-width: 60%;
  z-index: 1;
  position: relative;
  margin: auto;
}

.badge__title {
  text-align: center;
  margin-top: 1.5em;
  font-weight: bold;
}

.badge__img-wrapper::after {
  content: '100';
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: inherit;
  counter-increment: achieve-counter;
  content: counter(achieve-counter);
  font-weight: 600;
  line-height: 2em;
  text-align: center;
}

.badge__img-wrapper::before {
  content: '';
  position: absolute;
  bottom: -2px;
  right: -2px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 4px solid;
  width: 40px;
  height: 40px;
  z-index: -1;
  line-height: 1em;
}

.badge--purple .badge__img-wrapper
{
  background-color: #DEDCDF;
  color: #9E8DA3;
}

body {
  font-family: sans-serif;
}

header {
  text-align: center;
  margin: 3em auto 2em;
  font-size: 1.5em;
}
